<main>
    <h1>Weather around the world by cityname</h1>
    <section class="search" [ngStyle]="{'margin-top': '0px', 'flex-direction': 'row'}"> 
      <!--app-form-component [formUpLink]="childForm"></app-form-component-->
      <!--app-form-component></app-form-component-->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngIf="request.invalid"> Name is too short. </div>
        <input formControlName="request" placeholder="enter something">
        <button type="submit">Find</button>
     </form>
    </section>
  <ng-template [ngIf]="showWeatherSection">
    <app-current-weather [currentWeather]="currentWeather" [cityName]="cityName"></app-current-weather>
  </ng-template> 
  <ng-template [ngIf]="showWeatherSection">
    <app-weather-forecast [weatherForecast]="weatherForecast"></app-weather-forecast>
  </ng-template>
</main>



